@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&&family=Satisfy&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: whitesmoke; }

ul {
  margin-left: 7rem;
  font-size: 1.8rem;
  line-height: 2; }

ol {
  margin-left: 7rem;
  font-size: 1.5rem;
  line-height: 2; }

.smallertext {
  font-size: 1.6rem; }

.topmargin {
  margin-top: 3rem; }

.footer {
  padding: 0 2rem; }
  .footer__hero-div {
    margin-top: 1rem;
    padding-top: 5rem;
    border-top: 1rem solid #910c22; }
  .footer__hero-pattern {
    height: 15rem;
    margin: 0 -3rem;
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-size: 13px, 29px, 37px, 53px; }
  .footer__text {
    font-size: 1.2rem;
    text-align: center;
    color: #a5a5a5; }
  .footer__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #a5a5a5; }
    .footer__link:hover {
      text-decoration: underline;
      color: #727272; }

.header {
  padding: 0 2rem; }
  .header__headline {
    text-align: center; }
  .header__subheadline {
    font-family: "Satisfy", cursive;
    text-transform: none;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 200; }
  .header__hero-div {
    padding: 1rem 2rem;
    border-top: 1rem solid #910c22;
    border-bottom: 1rem solid #910c22; }
  .header__hero-pattern {
    height: 12rem;
    background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0, linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0, linear-gradient(315deg, #eceddc 25%, transparent 25%), linear-gradient(45deg, #eceddc 25%, transparent 25%);
    background-size: 20px 20px;
    background-color: #5e0202; }
    .header__hero-pattern--1 {
      height: 15rem;
      background-image: url(../img/give-me-liberty-large.jpg);
      background-size: cover; }
    .header__hero-pattern--2 {
      height: 15rem;
      background-image: url(../img/reading-challenge-large.jpg);
      background-size: cover;
      background-position: bottom; }
    .header__hero-pattern--3 {
      height: 15rem;
      background-image: url(../img/math-facts-ladder-large.jpg);
      background-size: cover;
      background-position: center; }
    .header__hero-pattern--4 {
      height: 15rem;
      background-image: url(../img/math-games-large.jpg);
      background-size: cover;
      background-position: center; }

html {
  background-color: white; }

body {
  max-width: 140rem;
  margin: 0 auto;
  min-height: 90vh;
  background-color: whitesmoke;
  padding: 3rem 1rem 1rem 1rem; }

.main {
  display: flex;
  padding: 2rem; }
  @media only screen and (max-width: 700px) {
    .main {
      flex-direction: column; } }
  @media only screen and (max-width: 400px) {
    .main {
      padding: 0.5rem; } }
  .main__left {
    padding: 2rem;
    width: 75%;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6; }
    .main__left--adjusted {
      width: 100%; }
    @media only screen and (max-width: 700px) {
      .main__left {
        width: 90%;
        margin: 0 auto; } }
  .main__right {
    width: 25%;
    padding: 2rem;
    border-right: 1px solid #e6e6e6; }
    .main__right p {
      font-size: 1.6rem; }
    @media only screen and (max-width: 700px) {
      .main__right {
        width: 90%;
        margin: 0 auto; } }

.featured {
  display: flex;
  flex-direction: column; }
  .featured__div-container {
    display: flex;
    flex-wrap: wrap; }
  .featured__div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem; }
  .featured__headline {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 1rem;
    text-align: center;
    position: absolute;
    color: whitesmoke;
    cursor: pointer; }
    .featured__headline-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .featured__headline:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  .featured__image {
    width: 10rem;
    border-radius: 50%; }

.about-section__headline {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.smaller-margin {
  margin-top: 0; }

.figure {
  float: right;
  max-width: 25%;
  margin: 1rem 4rem 1rem 2rem; }
  @media only screen and (max-width: 600px) {
    .figure {
      max-width: 90%; } }
  .figure__image {
    width: 90%;
    margin: 0 5%; }
  .figure__caption {
    text-align: center;
    font-style: italic; }

.curriculum {
  padding: 0.5rem 1rem;
  margin: 0 0 3rem 0; }
  .curriculum__headline {
    font-size: 2rem;
    border-bottom: 0.2rem solid #5e0202;
    border-top: 0.2rem solid #5e0202;
    text-align: center;
    margin-bottom: 1rem; }
  .curriculum__subject-headline {
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 2rem; }
  .curriculum__link {
    margin-left: 1rem;
    text-decoration: none;
    color: #5e0202; }
    .curriculum__link:hover {
      text-decoration: underline;
      color: #ec173a; }

.resources {
  padding: 0.5rem 1rem;
  margin: 3rem 0; }
  .resources__headline {
    border-bottom: 0.2rem solid #5e0202;
    border-top: 0.2rem solid #5e0202;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem; }
  .resources__list {
    list-style-type: none;
    margin-left: 1rem;
    padding-top: 0.5rem; }
    @media only screen and (max-width: 700px) {
      .resources__list {
        column-count: 2; } }
  .resources__item {
    font-weight: 700;
    padding: 0.5rem 0; }
  .resources__link {
    font-weight: 400;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #5e0202; }
    .resources__link:hover {
      text-decoration: underline;
      color: #ec173a; }

.home__link {
  font-weight: 400;
  margin-bottom: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #5e0202; }
  .home__link:hover {
    text-decoration: underline;
    color: #ec173a; }

body {
  font-size: 1.4rem;
  font-family: "Titillium Web", sans-serif; }

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6.5rem; }
  @media only screen and (max-width: 330px) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3rem; }

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem 0; }

h4 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 2.2rem 1rem 1.5rem 1rem;
  text-transform: uppercase; }

h5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase; }

p {
  font-size: 1.8rem;
  padding: 1rem;
  line-height: 1.5; }

a {
  color: #900303;
  text-decoration: none;
  font-size: 1.8rem; }
  a:hover {
    color: #ec173a;
    text-decoration: underline; }
