*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

ul {
  margin-left: 7rem;
  font-size: 1.8rem;
  line-height: 2;
  @media only screen and (max-width: 600px) {
    margin-left: 3rem;
  }
}

ol {
  margin-left: 7rem;
  font-size: 1.5rem;
  line-height: 2;
  @media only screen and (max-width: 600px) {
    margin-left: 3rem;
  }
}
