.smallertext {
  font-size: 1.6rem;
}

.topmargin {
  margin-top: 3rem;
}

.smaller-margin {
  margin-top: 0;
}

.bolder {
  font-weight: 300;
}

.two-columns {
  columns: 2;
  padding-top: 2rem;
  @media only screen and (max-width: 700px) {
    columns: 1;
  }
}

.video-embed {
  width: 40%;
  @media only screen and (max-width: 1100px) {
    width: 60%;
  }
  @media only screen and (max-width: 800px) {
    width: 98%;
  }
}
